.fixture {
  font-size: 1rem;
  list-style-type: none;
  padding: 17px 0px;
  border-bottom: 1px solid #eaeaea;
  text-align: center;
  display: flex;
  align-items: center;
}

.fixture:hover {
  background-color: lavender;
  cursor: pointer;
}

.checkbox {
  margin-right: 15px;
}

.fixture button {
  font-size: 13px;
  background: #f1f3f4;
  border: none;
  cursor: pointer;
  float: right;
  outline: none;
  border-radius: 100px;
  height: 50px;
  width: 50px;
  margin: -10px 0 0 10px;
}

.fixture img {
  width: 25px;
  vertical-align: middle;
}

.fixture label {
  padding: 0px 10px 0px 10px;
}

.fixture a {
  color: #444;
  text-decoration: none;
}

.fixture a:hover{
  opacity: 0.7;
}

.homeTeamName {
  flex: 2;
  text-align: right;
}

.awayTeamName {
  flex: 2;
  text-align: left;
}

.homeTeamLogo {
  flex: 1;
}

.awayTeamLogo {
  flex: 1;
}

.textInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #dfdfdf;
}

.ongoingResult {
  color: red;
}

.fixtureLabel {
  text-align: center;
}

.timeElapsed {
  margin-left: 5px;
}

.timeElapsed img {
  width: 5px;
  vertical-align: top;
}

.leagueLogo {
  flex: 1;
}

.leagueLogo img {
  width: 20px;
}

.eventDate {
  flex: 3;
}
