.item {
  font-size: 1.2rem;
  list-style-type: none;
  border-bottom: 1px solid #eaeaea;
  padding: 0px!important;
  color: #444;
  line-height: 2rem;
  font-weight: 500;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  outline: none;
}

.item li {
  padding: 10px 40px;
  color: #444;
  display: flex;
  justify-content: center;
}

.item:hover, .item label:hover {
  background-color: lavender;
  cursor: pointer;
}
