.item {
  font-size: 1.2rem;
  list-style-type: none;
  padding: 17px 0px;
  border-bottom: 1px solid #eaeaea;
}

.item {
  padding: 0px!important;
  color: #444;
  line-height: 2rem;
  font-weight: 500;
}

.item .teamLogo {
  flex: 1;
  width: 20px;
}

.item .teamLogo img {
  width: 30px;
  vertical-align: middle;
}

.item .teamName {
  flex: 10;;
}

.item li {
  padding: 10px 40px;
  color: #444;
  display: flex;
  align-items: center;
}

.item:hover, .item label:hover {
  background-color: lavender;
  cursor: pointer;
}
