* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Muli', sans-serif;
  font-style: normal;
  line-height: 1.4;
  color: #444;
  background: #F9F8FD;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 700px;
  margin: 0 auto;
}

.inner-homepage {
  width: 100%;
  padding: 8rem 20px 4rem;
}

.inner {
  width: 100%;
  padding: 2rem 20px 4rem;
}

.form-container {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  border-radius: calc(0.5 * 100px);
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.38);
  justify-content: space-evenly;
  background: white;
}

.input-text {
  font-size: 1rem;
  font-weight: 400;
  width: 85%;
  padding-right: 5px;
  padding-left: 10px;
  border-radius: calc(0.5 * 100px);
}

.input-text::placeholder {
  color: #444;
}

.input-submit {
  background: transparent;
  color: #5b5b5b;
  text-transform: capitalize;
  cursor: pointer;
  font-weight: 600;
  margin-right: 10px;
}

.input-search {
  display: flex;
  align-items: center;
}

.input-search {
  font-size: 20px;
  margin-left: 10px;
}

.input-text,
.input-submit {
  height: 45px;
  outline: none;
  border: none;
}

.input-submit svg {
  color: #8e65bf;
  font-size: 20px;
  margin-top: 2px;
}

.input-search svg {
  color: #444;
}

.active-link {
  color: #fff;
  text-decoration: underline;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.loadMore {
  list-style-type: none;
  padding: 17px 0px;
  text-align: center;
  align-items: center;
}

.loadMore button {
  font-size: 1rem;
  cursor: pointer;
  background: none;
  font-family: 'muli', sans-serif;
  border: none;
}

.loadMore button {
  cursor: pointer;
}

.loadMore button:hover {
  opacity: 0.7;
}

.loadMore button:focus {
  outline: none;
}
